<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Briófitas" src="https://lh3.googleusercontent.com/Ln5vQe835urBHq2wR2pwNTE9hE_iQ2G4lHX3UyvFCew2RaNKmASmILlxTkPfjzJGm1t00EFnSLuHicJydl4jKdaT5Mfe5RAroVC1P8NmOhxRcMieKsVVinBe_YyIcJdrBA=w1280" />
    <ion-card-header>
      <ion-card-title>Briófitas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      São pequenas e geralmente são encontradas em tapetes ou pequenos aglomerados, suas folhas também são pequenas e geralmente finas, não possui estrutura vascular e vivem em ambientes úmidos e sombreados.
    </ion-card-content>
    <ion-button routerLink="/pagina">Briófitas</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://lh4.googleusercontent.com/BF4Q3vc9-ir9JQbxq5_4Th0C7ltJwcqe1BjGCRg2aHxHFzu0oyVvD4K5m3ndSg0ACZTL0FhgFYniRNaayI846RgJHNgS4o_p9fEQemBIAnGw4t5b9_yvTq4BaazvOgpGIw=w1280" />
    <ion-card-header>
      <ion-card-title>Pteridófitas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      São grandes e geralmente divididas em folíolos, chamadas de frondes, possuem raízes, caules e folhas com sistema vascular, produzem esporos em estruturas chamadas esporângios que são geralmente encontradas na parte inferior das folhas.
    </ion-card-content>
    <ion-button routerLink="/pagina">Pteridófitas</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://lh4.googleusercontent.com/6Z4H2y7sTdbBIvOPnQy2xkl5T7Hq-gBXdxN7mAuPQP3tioPgfVj1n4X8kJ1keXzmjXneKLgxDHpM958F5vz3gJNlXARYT1zQK--froesnaa9Br0L1QCtkXve6_FUbiiExQ=w1280" />
    <ion-card-header>
      <ion-card-title>Gimnospermas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      As folhas em sua maioria são aciculadas (em forma de agulha) ou escamosas, sua estruturas são de árvore ou arbusto com sistema vascular, produzem cones onde são encontrados os esporos (pólen e sementes).
    </ion-card-content>
    <ion-button routerLink="/pagina">Gimnospermas</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://lh5.googleusercontent.com/-5sz4ogoT2p-ozrjoIQr91uzr8hVjzadM5M5nj55mLIgvW0rnMN04RjViNIwN5fQOwcada2oTmC49tWnGjRCdQ5LM5YLegC8YOdDx_jkUzxYW5n-3Iu0JMRaCEvdvc36fg=w1280" />
    <ion-card-header>
      <ion-card-title>Angiospermas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Grande variedade de formas e tamanhos, apresentam flores, que podem ser vistosas ou discretas, produzem frutos que protegem as sementes, elas podem ser árvores, arbustos, ervas e muitas outras formas de vida vegetal com sistema vascular bem desenvolvido.
    </ion-card-content>
    <ion-button routerLink="/pagina">Angiospermas</ion-button>
  </ion-card>

</ion-content>
